{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
    <link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <br>
    <div class="container">
        <div class="message">
            <p>Alteração salva com sucesso!</p>
        </div>
        <a href="/servicos/servico/{{ identificador_servico }}" class="btn btn-success">Voltar</a>
    </div>

{% endblock %}