{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <div class="container">
        <div class="row">
            <div onclick="exibir_form('1')" class="col-md card-dashboard">
                <p class="text-card">Adicionar usuário</p>
            </div>

            <div onclick="exibir_form('2')" class="col-md card-dashboard">
                <p class="text-card">Atualizar usuário</p>
            </div>
        </div>
        <br>
        <div id="add_usuario" class="add_usuario">
            <form action="{% url 'usuarios' %}" method="POST">{% csrf_token %}
                <div class="row">
                        <div class="col-md">
                            <p>Nome:</p>
                            <input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{nome}}">
                        </div>
                        <div class="col-md">
                            <p>Sobrenome:</p>
                            <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}">
                        </div>
                </div>
                <br>
                <p>E-mail:</p>
                <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{email}}">
                <br>
                <p>CPF:</p>
                <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{cpf}}">
                <br>
                <!-- Nome Social -->
                <p>Nome Social:</p>
                <input type="text" class="form-control" placeholder="Nome Social" name="nome_social" value="{{nome_social}}">
                <br>

                <!-- NIS -->
                <p>NIS (Número de Identificação Social):</p>
                <input type="text" class="form-control" placeholder="NIS" name="nis" value="{{nis}}">
                <br>

                <!-- Data de Nascimento -->
                <p>Data de Nascimento:</p>
                <input type="date" class="form-control" name="data_nascimento" value="{{data_nascimento}}">
                <br>

                <!-- Identidade de Gênero -->
                <p>Identidade de Gênero:</p>
                <select class="form-control" name="identidade_genero">
                    <option value="" selected disabled>Selecione</option>
                    <option value="HCIS">Homem cisgênero</option>
                    <option value="MCIS">Mulher cisgênero</option>
                    <option value="HTRA">Homem transgênero</option>
                    <option value="MTRA">Mulher transgênero</option>
                    <option value="NBIN">Pessoa não-binária</option>
                    <option value="OUTR">Outros</option>
                </select>
                <br>

                <!-- Cor/Raça -->
                <p>Cor/Raça:</p>
                <select class="form-control" name="cor_raca">
                    <option value="" selected disabled>Selecione</option>
                    <option value="BRAN">Branco</option>
                    <option value="PRET">Preto</option>
                    <option value="PARD">Pardo</option>
                    <option value="INDI">Indígena</option>
                    <option value="AMAR">Amarelo</option>
                    <option value="OUTR">Outros</option>
                </select>
                <br>

                <!-- Estado Civil -->
                <p>Estado Civil:</p>
                <select class="form-control" name="estado_civil">
                    <option value="" selected disabled>Selecione</option>
                    <option value="SOLT">Solteiro</option>
                    <option value="CASA">Casado</option>
                    <option value="DIVO">Divorciado</option>
                    <option value="VIUV">Viúvo</option>
                    <option value="UNES">União Estável</option>
                </select>
                <br>

                <!-- Endereço -->
                <p>Endereço:</p>
                <input type="text" class="form-control" placeholder="Endereço" name="endereco" value="{{endereco}}">
                <br>

                <!-- Telefone -->
                <p>Telefone:</p>
                <input type="text" class="form-control" placeholder="Telefone" name="telefone" value="{{telefone}}">
                <br>

                <!-- Naturalidade -->
                <p>Naturalidade:</p>
                <input type="text" class="form-control" placeholder="Naturalidade" name="naturalidade" value="{{naturalidade}}">
                <br>

                <!-- Tempo de Residência no Município -->
                <p>Tempo de Residência no Município (em meses):</p>
                <input type="number" class="form-control" placeholder="Tempo de Residência" name="tempo_residencia_municipio" value="{{tempo_residencia_municipio}}">
                <br>

                <!-- RG -->
                <p>RG (Registro Geral):</p>
                <input type="text" class="form-control" placeholder="RG" name="rg" value="{{rg}}">
                <br>

                <!-- Número da Certidão de Nascimento ou Casamento -->
                <p>Número da Certidão de Nascimento ou Casamento:</p>
                <input type="text" class="form-control" placeholder="Certidão de Nascimento ou Casamento" name="certidao_nascimento_casamento" value="{{certidao_nascimento_casamento}}">
                <br>

                <!-- Número do Título de Eleitor -->
                <p>Número do Título de Eleitor:</p>
                <input type="text" class="form-control" placeholder="Título de Eleitor" name="titulo_eleitor" value="{{titulo_eleitor}}">
                <br>

                <!-- Nível de Escolaridade -->
                <p>Nível de Escolaridade:</p>
                <select class="form-control" name="nivel_escolaridade">
                    <option value="" selected disabled>Selecione</option>
                    <option value="FUNI">Ensino Fundamental Incompleto</option>
                    <option value="FUNC">Ensino Fundamental Completo</option>
                    <option value="MEDI">Ensino Médio Incompleto</option>
                    <option value="MEDC">Ensino Médio Completo</option>
                    <option value="SUPI">Ensino Superior Incompleto</option>
                    <option value="SUPC">Ensino Superior Completo</option>
                </select>
                <br>

                <!-- Ocupação -->
                <p>Ocupação:</p>
                <input type="text" class="form-control" placeholder="Ocupação" name="ocupacao" value="{{ocupacao}}">
                <br>

                <!-- Renda -->
                <p>Renda:</p>
                <input type="text" class="form-control" placeholder="Renda" name="renda" value="{{renda}}">
                <br>

                <!-- Extrema Pobreza -->
                <p>Esta pessoa vive em condições de extrema pobreza?</p>
                <select class="form-control" name="extrema_pobreza">
                    <option value="True">Sim</option>
                    <option value="False">Não</option>
                </select>
                <br>

                <!-- Pessoa com Deficiência -->
                <p>Esta é uma Pessoa com Deficiência?</p>
                <select class="form-control" name="pessoa_com_deficiencia">
                    <option value="True">Sim</option>
                    <option value="False">Não</option>
                </select>
                <br>
                <hr style="background-color:gray;">
                <div class="add_evol">
                    <h3>Evolução</h3>
                    <span class="btn-add-evol" onclick="add_evol()">+ Adicionar evolução</span>
      
                    <div id="form-evol">
                            {% for dia, demanda, descricao in evolucao %}
                            <br>    
                            <div class="row">
                                    <div class="col-md">
                                        <input type='date' class='form-control' name='dia' value="{{dia}}">
                                    </div>
                                    
                                    <div class="col-md">
                                        <input type='text' placeholder='Demanda' class='form-control' name='demanda' value="{{demanda}}">
                                    </div>
                                    
                                    <div class="col-md">
                                        <textarea class='form-control' placeholder='Digite uma descrição...' name='descricao'>{{ descricao }}</textarea><hr style='border-color: gray;'>
                                    </div>
                                    
                                </div>    
                            {% endfor %}
                    </div>
      
                </div>
      
                <br>
                <input type="submit" value="Cadastrar" class="btn-principal">
      
            </form>
            
        </div>

        <div id="att_usuario" class="att_usuario">
            <p></p>
            <select id="usuario-select" onchange="dados_usuario()" class="form-control">
                <option value=""></option>
                {% for usuarios in usuarios %}
                <option value="{{usuarios.id}}">{{usuarios.nome}}</option>
                {% endfor %}
            </select>
            <br>
            <hr>

            <div id="form-att-usuario">
                <input type="hidden" id="usuario_id">
                <p>Nome: </p>
                <input id="nome" type="text" class="form-control">
                <br>
                <p>Sobrenome: </p>
                <input id="sobrenome" type="text" class="form-control">
                <br>
                <p>E-mail: </p>
                <input id="email" type="text" class="form-control">
                <br>
                <p>CPF: </p>
                <input id="cpf" type="text" class="form-control">
                <br>
                <input type="submit" value="salvar" class="btn btn-success" onclick="update_usuario()">
                <hr>
                <br>
                <h3>Evoluções</h3>
                <br>
                <div id="evolucoes">

                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'usuarios/js/usuarios.js' %}"></script>
{% endblock %}